- provide(:title, "Ayuda")

#main-wrapper
  .container
    .row
      .8u.skel-cell-important
        .content
          %article.last
            %h2 Ayuda
            %p 
              ¡Muévete! es un proyecto del Laboratorio de la Ciudad y 
              Código Ciudad de México que busca la participación de la
              gente en actividades saludables.
            
            %h3 Más ayuda
            %p 
              Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
              Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
              Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi 
              consequat etiam lorem ipsum dolor sit amet nullam.
      .4u
        #sidebar
          %section
            %h3
              Lalala
            %p
              Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi consequat etiam.
            %footer
              %a.button.fa.fa-arrow-circle-right{href: '#'} Mayor informacion
