- provide(:title, "Inicio")

.container
  .jumbotron
    %h1
      ¡Hola! Esto es: "¡Cuídate!"
    %p
      ¡Cuídate! es un proyecto del Laboratorio para la Ciudad que busca transformar en un juego cuidar tu salud.
    .div
      %p
        %a.btn.btn-primary.btn-lg{href: user_home_path}
          ¡Cuídate!
          %i.fa.fa-arrow-circle-right
        %a.btn.btn-info.btn-lg{href: static_pages_info_path}
          Información
          %i.fa.fa-question-circle





