- provide(:title, "Inicio")
#banner-wrapper
  .container
    .row
      .12u
        #banner.box
          %div
            .row
              .7u
                %h2 Hola! Esto es "¡Muévete!"
                %p Es un proyecto del Laboratorio para la Ciudad para que tengas un registro de tu salud
              .5u
                %ul
                  %li
                    %a.button.big.fa.fa-arrow-circle-right{ href: user_home_path} ¡Muévete!
                  %li
                    %a.button.alt.big.fa.fa-question-circle{ href: static_pages_info_path} Información
                  
