- provide(:title, "Inicio")

.container
  .jumbotron
    %h1
      ¡Cuídate!
    %p
      es un proyecto del Laboratorio para la Ciudad que busca transformar en un juego cuidar tu salud enfocandote en "acciones saludables".

    .div
      %p
        %a.btn.btn-primary.btn-lg{href: user_home_path}
          ¡Cuídate!
          %i.fa.fa-arrow-circle-right
        %a.btn.btn-info.btn-lg{href: static_pages_info_path}
          Información
          %i.fa.fa-question-circle
        %a.btn.btn-danger.btn-lg{href: acciones_path}
          Eventos de salud
          %i.fa.fa-calendar-o
        %a.btn.btn-success.btn-lg{href: "http://checate-aqui.herokuapp.com"}
          ¿Dónde checarme?
          %i.fa.fa-check





