- provide(:title, "Inicio")

.container
  .jumbotron
    %h1
      ¡Hola! Esto es: "¡Cuídate!"
    %p
      ¡Cuídate! es un proyecto del Laboratorio para la Ciudad que busca transformar en un juego cuidar tu salud enfocandote en "acciones saludables" que puedes realizar y te ayudarán a tomar conciencia sobre tu cuerpo mientras compites con tus amigos para ver quién es el más saludable.
    %p
      Además, en ¡Cuídate! podrás encontrar una herramienta que te ayudará a encontrar la información sobre salud que necesites:
      ¿En dónde puedo checarme? ¿Qué puedo hacer para cuidar mi salud? ¿Cuáles son las clínicas y centros de salud de la Ciudad de México en donde puedo realizar una cita médica?  Y para ayudarte a recordar, ¡Cuídate! funciona como una herramienta de recordatorios para que tengas presente todas las respuestas a éstas preguntas.
    .div
      %p
        %a.btn.btn-primary.btn-lg{href: user_home_path}
          ¡Cuídate!
          %i.fa.fa-arrow-circle-right
        %a.btn.btn-info.btn-lg{href: static_pages_info_path}
          Información
          %i.fa.fa-question-circle
        %a.btn.btn-success.btn-lg{href: "http://checate-aqui.herokuapp.com"}
          ¿Dónde checarme?
          %i.fa.fa-check





