-if user_signed_in?
  = render 'shared/sidebar'

#page-wrapper
  .page-content
    .row
      .col-lg-12
        .page-title
          %h1
            %i.fa.fa-check-square-o
            Acciones Saludables
    .row
      - @actions.each do |a|
        .4u
          - if a.promotor == "INJUVE"
            - color = "red"
          - elsif a.promotor == "INDEPORTE"
            -color = "green"
          - else
            - color = "blue"
          = render partial: "shared/action_show", locals: {accion: a, valor: color}

