#main-wrapper
  .container
    .row
      .8u.skel-cell-important
        #content
          %article.last
            %h2
              = @action.name
            %p
              Aquí va un resumen de esta accion saludable
            %h3
              Descripción
            %p
              = @action.desc
            - if !@action.canjeable && !current_user.nil?
              %h3
                Pasos para completar
              %progress#barbar{value: 30, max: 100}
      .4u
        #sidebar
          = render 'shared/action_submit_form', locals: {action: @action}

=debug(@action) if Rails.env.development?
              
