#main-wrapper
  .container
    .row
      .8u.skel-cell-important
        #content
          %article.last
            %h2
              = @action.name
            %p
              Aquí va un resumen de esta accion saludable
            %h3
              Descripción
            %p
              = @action.desc
      .4u
        #sidebar
          = render 'shared/action_submit_form', locals: {action: @action}

=debug(@action) if Rails.env.development?
              
