= render 'shared/sidebar'

#page-wrapper
  .page-content
    .row
      .col-lg-4
        %h1 Acciones completadas
    .row
      - current_user.completed_actions.each do |relacion|
        = render partial: "shared/action_show", locals: {accion: relacion.accion, valor: 'blue'}
