- provide(:title, "Perfil")

#banner-wrapper
  .container
    .row
      .12u
        #banner.box
          %div
            .row
              .7u
                %h2 
                  Hola
                  = current_user.first_name
                %p 
                  Administra tu perfil
              .5u
                %ul
                  %li
                    %a.button.big.fa.fa-arrow-circle-right{ href: '#'}
                      =current_user.points
                      puntos
                  %li
                    %a.button.alt.big.fa.fa-question-circle{ href: '#'} Premios
                  %li
                    %a.button.big.fa.fa-calendar{ href: '#'}
                      Actividades

#features-wrapper
  .container
    .row
      - @acciones.each do |accion|
        .4u
          = render partial: "shared/action_show", locals: {accion: accion}

.features-wrapper
  .container
    .row
      .4u
        %section.box.box-feature
          %a.image.image-full{ href: '#'}
            = holder_tag '300x200/sky'
          .inner
            %header
              %h2
                Soy una actividad
              %span
                30 puntos
            %p
              Hare algo saludable y 
              = current_user.first_name
              me ganara
