#banner-wrapper
  .container
    .row
      .12u
        #banner.box
          %div
            .row
              .7u
                %h2
                  = @user.first_name
                %p
                = render 'shared/user_stats'
              .5u
                - if @users.any?
                  -@users.each do |user|
                    %div
                      %h3
                        = user.first_name + " " + user.last_name
                      %p
                        =user.points

