- if flash[:toastr]
  %script{:type => "text/javascript"}
    - flash[:toastr].each do |type, message|
      toastr.options = {
      "closeButton": false,
      "debug": false,
      "positionClass": "toast-top-full-width",
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "10000",
      "timeOut": "100000",
      "extendedTimeOut": "10000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
      }
      toastr.#{type}('#{raw(message)}')
- else
  - flash.each do |key, value|
    %div{class: flash_class(key)}
      = value unless key == :new_badge
