- @user ||= current_user
.stats
  %a{href: user_following_path(@user)}
    %strong#following.stat
      =@user.followed_users.count
    amigos
  %a{href: user_followers_path(@user)}
    %strong#followers.stat
      =@user.followers.count
    seguidores
