#footer-wrapper
  %footer#footer.container
    .row
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Información
        %ul.nav
          %li
            =link_to "Acerca De", '#'
          %li
            %a{href: 'http://www.salud.df.gob.mx/'}
              Secretaría de Salud
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Redes Sociales
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Código CDMX
        %ul.nav
          %li
            %a{href:'http://eventario.mx'}
              Eventario
          %li
            %a{href: 'http://traxi.mx'}
              Traxi
          %li
            %a{href: 'http://verificalo.mx'}
              Verifícalo
    .row
      .col-md-12
        #copyright
          Código Ciudad de México| Github:
          %a{href: 'https://github.com/LabPLC/muevete_sedesa'} muevete_aqui
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52035707-1', 'cuidamisalud.mx');
    ga('send', 'pageview');
