#footer-wrapper
  %footer#footer.container
    .row
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Información
        %ul.nav
          %li
            =link_to "Acerca De", '#'
          %li
            %a{href: 'http://www.salud.df.gob.mx/'}
              Secretaría de Salud
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Redes Sociales
      .col-xs-6.col-sm-6.col-md-3.column
        %h4
          Código CDMX
        %ul.nav
          %li
            %a{href:'http://eventario.mx'}
              Eventario
          %li
            %a{href: 'http://traxi.mx'}
              Traxi
          %li
            %a{href: 'http://verificalo.mx'}
              Verifícalo
    .row
      .col-md-12
        #copyright
          Código Ciudad de México| Github:
          %a{href: 'https://github.com/LabPLC/muevete_sedesa'} muevete_aqui
