#footer-wrapper
  %footer#footer.container
    .row
      .9u
        %section.widget-links
          %h2 Enlaces y recursos
          %ul.style2
            %li
              %a{href: '#'} Secretaría de Salud
      .3u
        %section.widget-contact.last
          %h2 Contacto:
          %ul
            %li
              %a.fa.fa-twitter.solo{href: 'http://twitter.com/juancar1os'}
                %span Twitter
            %li
              %a.fa.fa-facebook.solo{href: '#'}
                %span Facebook
            %li
              %a.fa.fa-google-plus.solo{href: '#'}
                %span Google+
          %p Tlaxcoaque #8, Ciudad de México
    .row
      .12u
        #copyright
          Laboratorio para la Ciudad | Github: 
          %a{href: 'https://github.com/LabPLC/muevete_sedesa'} muevete_aqui
