%nav.navbar-top{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle.pull-right{"data-toggle" => "collapse", "data-target" => ".sidebar-collapse", type: 'button'}
      %i.fa.fa-bars
    .navbar-brand
      %a{ href: root_path} ¡Cuídate!

  .nav-top
    %ul.nav.navbar-left
      %li.tooltip-sidebar-toggle
        %a#sidebar-toggle{href: '#', "data-toggle" => 'tooltip', "data-placement"=>"right", "title"=>"encojer"}
          %i.fa.fa-bars
    %ul.nav.navbar-right
      %li.active
        - if user_signed_in?
          %a{ href: user_home_path} Dashboard
        - else
          %a{ href: root_path} ¡Cuídate!
      %li
        %a{ href: static_pages_ayuda_path} Ayuda
      %li
        %a{ href: static_pages_info_path} Información
      %li.dropdown
        - if user_signed_in?
          %a.dropdown-toggle{ href: user_home_path, "data-toggle" => "dropdown"}
            %i.fa.fa-user
            = current_user.first_name
          %ul.dropdown-menu.dropdown-user
            %li
              %a{href: edit_user_registration_path}
                Edita tu perfil
            %li
              %a{href: '#'}
                %i.fa.fa-envelope
                Notificaciones
                %span.badge.orange.pull-right
                  10
            %li.divider
            %li
              = link_to 'Salir', destroy_user_session_path, method: 'delete'

        - else
          = link_to 'Iniciar sesión', new_user_session_path

