.navbar.navbar-fixed-top.navbar-bold{"data-offset-top" => "1000", "data-spy" => "affix"}
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"} Inicio
      %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.navbar-right.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          - if user_signed_in?
            %a{href: user_home_path} Dashboard
          - else
            %a{:href => new_user_session_path} Iniciar Sesión
