#header-wrapper
  .container
    .row
      .12u
        %header#header
          #logo
            %h1
              %a#logo{ href: '#'} Muevete
            %span Y cuida tu salud
          %nav#nav
            %ul
              %li.current_page_item
                %a{ href: '#'} Bienvenido
              %li
                %a{ href: '#'} Iniciar sesión
              
              